$background-color: rgb(32, 43, 56);
$font-color: white;
$delete-button-color: rgb(66, 122, 161);
$error-message-color: red;
$button-background-color: rgb(22, 31, 39);
* {
  margin: 0;
  box-sizing: border-box;
}
#unsuccessful-message {
  color: $error-message-color;
}
body {
  background-color: $background-color;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 30px 200px;
}

#see-add-skills-page,
#see-skills-table-page,
#submit-btn {
  background-color: $button-background-color;
  color: $font-color;
  padding: 10px 20px;

  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-bottom: 20px;
}

#see-skills-table-page:hover {
  background-color: white;
  color: black;
}

#submit-btn:hover {
  background-color: white;
  color: black;
}
#see-add-skills-page:hover {
  background-color: white;
  color: black;
}

#submit-btn {
  margin-top: 10px;
}
h1 {
  color: $font-color;
}
table {
  text-align: left;
  color: $font-color;
  border-collapse: collapse;
}

.delete-btn {
  color: $delete-button-color;
  cursor: pointer;
}
.delete-btn:hover {
  color: $error-message-color;
}
table thead {
  font-size: 20px;
}
thead th {
  padding: 5px 5px;
}
tbody tr:nth-child(even) {
  background-color: $button-background-color;
}

tbody tr td {
  padding: 10px 5px;
}

input {
  width: 300px;
  padding: 5px 5px;
  background-color: $button-background-color;
  border-radius: 5px;
  border: none;
  color: $font-color;
}
